#### PROYECTO 
___
**Preparado para:** Héctor Cuesta Arvizu

**Preparado por:** Karina Daniela Chaires López

Zacatecas, Zacatecas Diciembre de 2017
___

#### 1. Introducción
<p><strong>Grupo Bimbo</strong> debe sopesar consideraciones para anticipar sus ventas, ya que se esfuerza por satisfacer la demanda diaria de los consumidores de productos frescos de panadería en los estantes de más de 1 millón de tiendas a lo largo de sus 45,000 rutas en todo México.

Para ello lanza un reto en <strong>kaggle</strong> <hfer> https://www.kaggle.com/c/grupo-bimbo-inventory-demand <href>, en la cual se pretende desarrollar un modelo predictivo para pronosticar con presición la demanda de inventario.
Como parte de la implementación de herramientas para el análisis de datos, en el presente proyecto solo se tomarán los datasets proporcionados en dicho reto (no se desarrolla solución para el reto antes mencionado).</p>

#### 2. Resumen
<p>Se realizó el proceso para poder responder los siguientes questionamientos:</p>

- Demanda de cantidad de producto por semana.
- Distribución de ventas en México.
- Tendencias de los consumidores en México.
- Ventas por semana.

#### 3. Metodología
- Fuente de datos:<strong> kaggle </strong> 
- Análisis exploratorio:<strong> Notebook Jupyter kernels python3, pandas</strong> 
- Transformación de datos:<strong> Apache Pig version 0.12.0-cdh5.12.0</strong> 
- Almacenamiento:<strong> schema CSV</strong> 
- Procesamiento:<strong> Apache Pig version 0.12.0-cdh5.12.0</strong> 
- Visualización:<strong> Notebook Jupyter kernels python3,  plotly-2.2.3</strong>

#### 4. Desarrollo

<blockquote>
<p>ANALIZAR</p>
</blockquote>

File descriptions

- train.csv — the training set
- test.csv — the test set
- sample_submission.csv — a sample submission file in the correct format
- cliente_tabla.csv — client names (can be joined with train/test on Cliente_ID)
- producto_tabla.csv — product names (can be joined with train/test on Producto_ID)
- town_state.csv — town and state (can be joined with train/test on Agencia_ID)

Data fields

- Semana — Week number (From Thursday to Wednesday)
- Agencia_ID — Sales Depot ID
- Canal_ID — Sales Channel ID
- Ruta_SAK — Route ID (Several routes = Sales Depot)
- Cliente_ID — Client ID
- NombreCliente — Client name
- Producto_ID — Product ID
- NombreProducto — Product Name
- Venta_uni_hoy — Sales unit this week (integer)
- Venta_hoy — Sales this week (unit: pesos)
- Dev_uni_proxima — Returns unit next week (integer)
- Dev_proxima — Returns next week (unit: pesos)
- Demanda_uni_equil — Adjusted Demand (integer) (This is the target you will predict)

In [1]:
import pandas as pd
from pandas import DataFrame as df

In [2]:
datos = pd.read_csv('DATASET_BIMBO/test.csv')

In [3]:
df.info(datos)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999251 entries, 0 to 6999250
Data columns (total 7 columns):
id             int64
Semana         int64
Agencia_ID     int64
Canal_ID       int64
Ruta_SAK       int64
Cliente_ID     int64
Producto_ID    int64
dtypes: int64(7)
memory usage: 373.8 MB

In [4]:
df.tail(datos)

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID
6999246,6999246,11,2057,1,1153,4379638,1232
6999247,6999247,10,1334,1,2008,970421,43069
6999248,6999248,11,1622,1,2869,192749,30532
6999249,6999249,11,1636,1,4401,286071,35107
6999250,6999250,11,1625,1,1259,978760,1232

In [5]:
datos.describe()

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID
count,6.999251e+06,6.999251e+06,6.999251e+06,6.999251e+06,6.999251e+06,6.999251e+06,6.999251e+06
mean,3.499625e+06,1.049446e+01,2.504463e+03,1.401874e+00,2.138014e+03,1.819128e+06,2.216307e+04
std,2.020510e+06,4.999694e-01,4.010228e+03,1.513404e+00,1.500392e+03,2.938910e+06,1.869816e+04
min,0.000000e+00,1.000000e+01,1.110000e+03,1.000000e+00,1.000000e+00,2.600000e+01,4.100000e+01
25%,1.749812e+06,1.000000e+01,1.311000e+03,1.000000e+00,1.159000e+03,3.558290e+05,1.242000e+03
50%,3.499625e+06,1.000000e+01,1.612000e+03,1.000000e+00,1.305000e+03,1.200109e+06,3.150700e+04
75%,5.249438e+06,1.100000e+01,2.034000e+03,1.000000e+00,2.804000e+03,2.387881e+06,4.093000e+04
max,6.999250e+06,1.100000e+01,2.575900e+04,1.100000e+01,9.950000e+03,2.015152e+09,4.999700e+04

In [6]:
datosCliente = pd.read_csv('DATASET_BIMBO/cliente_tabla.csv')

In [7]:
df.tail(datosCliente)

        Cliente_ID         NombreCliente
935357    11011586            OXXO PETEN
935358    11693264  SUPER ABARROTES MARY
935359    19988629       NO IDENTIFICADO
935360    99999999       NO IDENTIFICADO
935361  2015152015       NO IDENTIFICADO

In [8]:
df.info(datosCliente)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935362 entries, 0 to 935361
Data columns (total 2 columns):
Cliente_ID       935362 non-null int64
NombreCliente    935362 non-null object
dtypes: int64(1), object(1)
memory usage: 14.3+ MB

In [9]:
datosProducto = pd.read_csv('DATASET_BIMBO/producto_tabla.csv')

In [10]:
df.tail(datosProducto)

      Producto_ID                                  NombreProducto
2587        49992             Tostado Integral 180g MTA WON 49992
2588        49993             Tostado Integral 180g TAB WON 49993
2589        49994      Tostado Int 0pct Grasa Azuc 200g WON 49994
2590        49996  Tostado Int 0pct Grasa Azuc 200g MTA WON 49996
2591        49997  Tostado Int 0pct Grasa Azuc 200g TAB WON 49997

In [11]:
df.info(datosProducto)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2592 entries, 0 to 2591
Data columns (total 2 columns):
Producto_ID       2592 non-null int64
NombreProducto    2592 non-null object
dtypes: int64(1), object(1)
memory usage: 40.6+ KB

In [12]:
datosAgencia = pd.read_csv('DATASET_BIMBO/town_state.csv')

In [13]:
df.tail(datosAgencia)

     Agencia_ID                      Town                  State
785       25729   2572 TIJUANA EL FLORIDO  BAJA CALIFORNIA NORTE
786       25739  2573 TIJUANA GATO BRONCO  BAJA CALIFORNIA NORTE
787       25749     2574 TIJUANA PACIFICO  BAJA CALIFORNIA NORTE
788       25759     2575 TIJUANA ROSARITO  BAJA CALIFORNIA NORTE
789       25769       2576 GUERRERO NEGRO    BAJA CALIFORNIA SUR

In [14]:
df.info(datosAgencia)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 3 columns):
Agencia_ID    790 non-null int64
Town          790 non-null object
State         790 non-null object
dtypes: int64(1), object(2)
memory usage: 18.6+ KB

In [15]:
datosEntrenamiento = pd.read_csv('DATASET_BIMBO/train.csv')

In [16]:
df.tail(datosEntrenamiento)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
74180459,9,25759,1,5517,4528866,32873,4,27.76,0,0.00,4
74180460,9,25759,1,5517,4528866,34226,4,37.04,0,0.00,4
74180461,9,25759,1,5517,4528866,45112,4,51.00,0,0.00,4
74180462,9,25759,1,5517,4547943,40217,3,26.94,3,26.94,0
74180463,9,25759,1,5517,4708097,43159,1,10.40,0,0.00,1

In [17]:
df.info(datosEntrenamiento)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74180464 entries, 0 to 74180463
Data columns (total 11 columns):
Semana               int64
Agencia_ID           int64
Canal_ID             int64
Ruta_SAK             int64
Cliente_ID           int64
Producto_ID          int64
Venta_uni_hoy        int64
Venta_hoy            float64
Dev_uni_proxima      int64
Dev_proxima          float64
Demanda_uni_equil    int64
dtypes: float64(2), int64(9)
memory usage: 6.1 GB

<blockquote>
  <p><strong>LIMPIEZA</strong></p>
</blockquote>

<p>Como vemos los datos de nombre del producto y agencia estan en tablas separadas, por lo tanto realizaremos la unión de las mismas y seleccionaremos el dataset con el cual vamos a trabajar para responder los questionamientos de nuestro análisis.</p>

```pig
--CARGAMOS FUENTE DE DATOS PRINCIPAL
datasetEntrenamiento = LOAD '/user/cloudera/CIMAT/PROYECTO_BIMBO/train.csv' 
using PigStorage(',') 
as (Semana:int, Agencia_ID:int, Canal_ID:int, Ruta_SAK:int, 
    Cliente_ID:int, Producto_ID:int, 
    Venta_uni_hoy:long, Venta_hoy:double, Dev_uni_proxima:long, 
    Dev_proxima:double, Demanda_uni_equil:int
);
--CARGAMOS LA FUENTE DE DATOS DEL CATALOGO DE AGENCIAS
datasetAgencias = LOAD '/user/cloudera/CIMAT/PROYECTO_BIMBO/town_state.csv' 
using PigStorage(',')
as (Agencia_ID:int, Town:chararray, State:chararray);
--CARGAMOS LA FUENTE DE DATOS DEL CATALOGO DE PRODUCTOS
datasetProductos = LOAD '/user/cloudera/CIMAT/PROYECTO_BIMBO/producto_tabla.csv' 
using PigStorage(',')
as (Producto_ID:int, NombreProducto:chararray);
--UNIMOS LOS DATASET DE ENTRENAMIENTO Y AGENCIAS
joinedAgencia = join datasetEntrenamiento by Agencia_ID, datasetAgencias by Agencia_ID;
--UNIMOS LOS DATOS joinedAgencia CON PRODUCTOS
joinedProductos = join joinedAgencia by datasetEntrenamiento::Producto_ID, datasetProductos by Producto_ID;
--SELECCIONAMOS LOS DATOS QUE SE REQUIEREN
datos = FOREACH joinedProductos GENERATE 
datasetEntrenamiento::Cliente_ID as id_cliente,
datasetEntrenamiento::Semana as semana,
joinedAgencia::datasetAgencias::Agencia_ID as id_agencia,
joinedAgencia::datasetAgencias::State as estado,
joinedAgencia::datasetEntrenamiento::Producto_ID as id_producto,
datasetProductos::NombreProducto as producto,
joinedAgencia::datasetEntrenamiento::Venta_uni_hoy as venta_uni_hoy,
joinedAgencia::datasetEntrenamiento::Venta_hoy as venta_hoy,
joinedAgencia::datasetEntrenamiento::Dev_uni_proxima as dev_uni_proxima,
joinedAgencia::datasetEntrenamiento::Dev_proxima as Dev_proxima;
--AGRUPAMOS LOS DATOS
datosAgrupados = GROUP datos BY (id_cliente,semana,id_agencia,id_producto);
--OBTENER DATOS PARA PROCESAR 
datosProcesar = FOREACH datosAgrupados GENERATE FLATTEN(datos);
--ESCRIBIMOS LOS DATOS DENTRO DEL ARCHIVO DE datos_bimbo
store datosProcesar into '/user/cloudera/CIMAT/PROYECTO_BIMBO/csvsalida' using PigStorage(',','-schema');
```

<p>Creamos la salida en formato csv</p>
```bash
hadoop fs -rm  /user/cloudera/CIMAT/PROYECTO_BIMBO/csvsalida/.pig_schema
hadoop fs -getmerge  /user/cloudera/CIMAT/PROYECTO_BIMBO/csvsalida ./outputBimbo.csv
```

<blockquote>
  <p><strong>PROCESAMIENTO</strong></p>
</blockquote>

Realizaremos las operaciones necesarias para obtener el conjunto de datos requerido

``` pig
--CARGAMOS FUENTE DE DATOS 
datosFuente = LOAD '/user/cloudera/CIMAT/PROYECTO_BIMBO/outputBimbo.csv' 
using PigStorage(',');
--ASIGNAMOS NOMBRE Y TIPO A LAS COLUMNAS DE LA FUENTE DE DATOS
datosProcesar = FOREACH datosFuente GENERATE 
(int)$0 AS cliente,  
(int)$1 AS semana,
(int)$2 AS id_agencia,
(chararray)$3 AS estado,
(int)$4 AS id_producto,
(chararray)$5 AS producto,
(long)$6 AS venta_uni_hoy,
(double)$7 AS venta_hoy,
(long)$8 AS dev_uni_proxima,
(double)$9 AS Dev_proxima
;
--1.Demanda de cantidad de producto por semana
--AGRUPAMOS LA INFORMACION POR SEMANA
agrupados_semana = GROUP datosProcesar BY semana;
--REALIZAMOS LA SUMA DE LAS VENTAS POR SEMANA
demanda_semana = FOREACH agrupados_semana GENERATE 
                    group as semana, 
                    SUM(datosProcesar.venta_uni_hoy) as ventas, 
                    SUM(datosProcesar.dev_uni_proxima) as devoluciones;
ordenar_demanda_semana = ORDER demanda_semana BY semana asc;

--2.Distribucion de ventas en Mexico
--AGRUPAMOS LA INFORMACION POR ESTADO
agrupar_estado = GROUP datosProcesar BY estado;
--REALIZAMOS LA SUMA DE VENTAS POR ESTADO
analisis_estado = FOREACH agrupar_estado GENERATE group as estado, SUM(datosProcesar.venta_hoy) as montoVenta, SUM(datosProcesar.Dev_proxima) as montoDevolucion;
--ORDENAMOS POR LA CANTIDAD MAYOR
ordenarEstado = ORDER analisis_estado BY montoVenta asc;

--3.Tendencias de los consumidores en Mexico
--AGRUPAMOS LA INFORMACION POR PRODUCTO
agrupar_producto = GROUP datosProcesar BY producto;
--REALIZAMOS LA SUMA DE LA CANTIDAD POR MES Y PRODUCTO
ventas_producto = FOREACH agrupar_producto GENERATE group, SUM(datosProcesar.venta_uni_hoy) as totalProducto;
--ORDENAMOS POR LA CANTIDAD MAYOR
ordenarProducto = ORDER ventas_producto BY totalProducto desc;
--SELECCIONAMOS LOS PRIMEROS 10
topProductos = LIMIT ordenarProducto 10;

--4.Ventas por semana
--AGRUPAMOS LA INFORMACION POR SEMANA
agrupados_semana = GROUP datosProcesar BY semana;
--OBTENEMOS LAS VENTAS Y DEVOLUCIONES POR SEMANA
ventas_semana = FOREACH agrupados_semana GENERATE group, SUM(datosProcesar.venta_hoy) as ventas, SUM(datosProcesar.Dev_proxima) as devolucion;
ordenar_ventas_semana = ORDER ventas_semana BY group desc;




--ESCRIBIMOS LOS RESULTADOS A UN ARCHIVO
store ordenar_demanda_semana into '/user/cloudera/CIMAT/PROYECTO_BIMBO/RESULTADOS/demanda' using PigStorage(',','-schema');
store ordenarEstado into '/user/cloudera/CIMAT/PROYECTO_BIMBO/RESULTADOS/estado' using PigStorage(',','-schema');
store topProductos into '/user/cloudera/CIMAT/PROYECTO_BIMBO/RESULTADOS/producto' using PigStorage(',','-schema');
store ordenar_ventas_semana into '/user/cloudera/CIMAT/PROYECTO_BIMBO/RESULTADOS/ventas_semana' using PigStorage(',','-schema');

```

```bash
hadoop fs -rm  /user/cloudera/CIMAT/PROYECTO_BIMBO/RESULTADOS/demanda/.pig_schema
hadoop fs -getmerge  /user/cloudera/CIMAT/RESULTADOS/PROYECTO_BIMBO/RESULTADOS/demanda ./outputDemanda.csv

hadoop fs -rm  /user/cloudera/CIMAT/PROYECTO_BIMBO/RESULTADOS/estado/.pig_schema
hadoop fs -getmerge  /user/cloudera/CIMAT/RESULTADOS/PROYECTO_BIMBO/estado ./outputEstado.csv

hadoop fs -rm  /user/cloudera/CIMAT/PROYECTO_BIMBO/RESULTADOS/producto/.pig_schema
hadoop fs -getmerge  /user/cloudera/CIMAT/RESULTADOS/PROYECTO_BIMBO/producto ./outputProducto.csv

hadoop fs -rm  /user/cloudera/CIMAT/PROYECTO_BIMBO/RESULTADOS/ventas_semana/.pig_schema
hadoop fs -getmerge  /user/cloudera/CIMAT/RESULTADOS/PROYECTO_BIMBO/ventas_semana ./outputVentas.csv
```

<blockquote>
  <p><strong>VIZUALIZACIÓN</strong></p>
</blockquote>

In [18]:
outputBimbo = pd.read_csv('DATASET_BIMBO/outputBimbo.csv')

In [19]:
df.tail(outputBimbo)

,datos::id_cliente,datos::semana,datos::id_agencia,datos::estado,datos::id_producto,datos::producto,datos::venta_uni_hoy,datos::venta_hoy,datos::dev_uni_proxima,datos::Dev_proxima
37993379,107,8,2061,ESTADO DE MÉXICO,47886,Pinguinos 3p 120g Prom MTA MLA 47886,16,204.80,0,0.0
37993380,107,9,2061,ESTADO DE MÉXICO,34206,Medias Noches 8p 340g TNB BIM 34206,45,664.20,20,295.2
37993381,107,9,2061,ESTADO DE MÉXICO,34794,Super Bollos 5in 8p 540g TNB WON 34794,24,521.52,0,0.0
37993382,107,9,2061,ESTADO DE MÉXICO,36250,Tostada Ondulada Tubo 32p 384g MR 36250,36,594.00,0,0.0
37993383,107,9,2061,ESTADO DE MÉXICO,43173,Pan 12 Granos 680g MTA ORO 43173,9,280.80,0,0.0

In [20]:
df.info(outputBimbo)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37993384 entries, 0 to 37993383
Data columns (total 10 columns):
datos::id_cliente         int64
datos::semana             int64
datos::id_agencia         int64
datos::estado             object
datos::id_producto        int64
datos::producto           object
datos::venta_uni_hoy      int64
datos::venta_hoy          float64
datos::dev_uni_proxima    int64
datos::Dev_proxima        float64
dtypes: float64(2), int64(6), object(2)
memory usage: 2.8+ GB

- ### Demanda de cantidad de producto por semana.

In [21]:
demanda = pd.read_csv('DATASET_BIMBO/RESULTADOS/outputDemanda.csv')

In [22]:
demanda

   semana    ventas  devoluciones
0       3  78519995       1286055
1       4  80509591       1372361
2       5  78450325       1220967
3       6  74753846       1321510
4       7  77548034       1417450
5       8  76497783       1452369
6       9  75991699       1641371

In [23]:
!pip install plotly
!pip install pandas

Requirement already satisfied: plotly in /Users/karinachaires/anaconda/lib/python3.6/site-packages
Requirement already satisfied: requests in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: six in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: pytz in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: nbformat>=4.2 in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: decorator>=4.0.6 in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: pandas in /Users/karinachaires/anaconda/lib/python3.6/site-packages
Requirement already satisfied: python-dateutil>=2 in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: numpy>=1.7.0 in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /Users/karinachaires/anaconda/lib/python3.6/site-packages (from python-dateutil>=2->pandas)

In [34]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly

plotly.offline.init_notebook_mode(connected=True)
trace1 = go.Bar(
    y = demanda['semana'],
    x = demanda['ventas'],
    name='Unidades vendidadas',
    orientation = 'h',
    marker = dict(
        color = 'rgba(0,128,255,0.8)',
        line = dict(
            color = 'rgba(0,128,255,1.0)',
            width = 3)
    )
)

trace2 = go.Bar(
    y= demanda['semana'],
    x = demanda['devoluciones'],
    name='Devoluciones',
    orientation = 'h',

    marker = dict(
        color = 'rgba(255,64,0,0.7)',
        line = dict(
            color = 'rgba(255,64,0,0.8)',
            width = 3)
    )
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='stack',
    title='Demanda de cantidad de producto por semana',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='marker-h-bar')

- ### Distribución de ventas en México

In [25]:
estado = pd.read_csv('DATASET_BIMBO/RESULTADOS/outputEstados.csv', encoding = "UTF-8")

In [26]:
estado

                   estado    montoVenta  montoDevolucion
0                TLAXCALA  2.582022e+07        703995.72
1     BAJA CALIFORNIA SUR  4.087758e+07        904874.03
2                  COLIMA  4.635648e+07        879586.40
3                CAMPECHE  4.868887e+07       1116463.81
4                 NAYARIT  4.876072e+07        834741.61
5               ZACATECAS  5.071910e+07        894605.59
6               QUERETARO  5.280720e+07       1223301.42
7                 DURANGO  5.769564e+07        749864.94
8          AGUASCALIENTES  7.692675e+07       1140637.99
9                 CHIAPAS  7.748754e+07       1741847.84
10                MORELOS  7.918993e+07       1714763.60
11                YUCATÁN  7.980407e+07       1351254.11
12        SAN LUIS POTOSÍ  8.228387e+07       1695026.46
13           QUINTANA ROO  8.558152e+07        939832.63
14                 OAXACA  8.997608e+07       1644554.25
15               GUERRERO  9.542924e+07       1922604.83
16                TABASCO  1.059982e+08       1462212.19
17                HIDALGO  1.145020e+08       2562252.93
18                SINALOA  1.226727e+08       2052513.55
19                 SONORA  1.346749e+08       2785184.47
20               COAHUILA  1.376508e+08       3276723.82
21             TAMAULIPAS  1.539880e+08       3300895.24
22              CHIHUAHUA  1.558250e+08       4344190.35
23  BAJA CALIFORNIA NORTE  1.640340e+08       2656839.32
24              MICHOACÁN  1.791714e+08       3455910.31
25                 PUEBLA  2.267459e+08       4189643.29
26             GUANAJUATO  2.416686e+08       4447663.35
27               VERACRUZ  2.595685e+08       4490482.41
28             NUEVO LEÓN  2.863442e+08       5252756.78
29                JALISCO  4.297037e+08       7840476.15
30                 MÉXICO  6.414208e+08       9808764.44
31       ESTADO DE MÉXICO  6.922905e+08      10840259.50

In [43]:
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)
from plotly.graph_objs import Scatter, Layout


# Create traces
trace0 = go.Scatter(
    x = estado['estado'],
    y = estado['montoVenta'],
    mode = 'lines',
    name = 'Ventas'
)
trace1 = go.Scatter(
    x = estado['estado'],
    y = estado['montoDevolucion'],
    mode = 'lines+markers',
    name = 'Devoluciones'
)


data = [trace0, trace1]
layout = go.Layout(
    title='Distribución de ventas en México',
    margin=go.Margin(
        l=50,
        r=50,
        b=152,
        t=50,
        pad=4
    ),
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='scatter-mode')

- ### Tendencias de los consumidores en México

In [28]:
productos = pd.read_csv('DATASET_BIMBO/RESULTADOS/outputProducto.csv')

In [29]:
productos

                                      group  totalProducto
0  Polvoroncitos Panera 40p 16 25g TR 45143       10062825
1    Donitas Espolvoreadas 6p 105g BIM 1242       10469784
2                  Pan Blanco 640g BIM 2233       11204506
3             Donas Azucar 4p 105g BIM 1250       12158850
4      Mantecadas Vainilla 4p 125g BIM 1240       12313013
5     Bolsa Mini Rocko 40p 13g CU MLA 36610       12836368
6              Gansito 1p 50g MTB MLA 43285       15259452
7                  Rebanada 2p 55g BIM 1284       19625219
8                      Nito 1p 62g BIM 1278       19660668
9              Nito 1p 62g Central BIM 2425       23860269

In [41]:
plotly.offline.init_notebook_mode(connected=True)

trace0 = go.Bar(
    x = productos['totalProducto'],
    y = productos['group'],
    orientation='h',
)

data = [trace0]
layout = go.Layout(
    title='Tendencias de los consumidores en México',
    margin=go.Margin(
        l=250,
        r=20,
        b=20,
        t=40,
        pad=4
    ),
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='pandas-horizontal-bar')

- ### Ventas por semana

In [31]:
ventas_semana = pd.read_csv('DATASET_BIMBO/RESULTADOS/outputVentas.csv')

In [32]:
ventas_semana

   group       ventas  devolucion
0      3  749000000.0  12800000.0
1      4  756000000.0  13400000.0
2      5  728000000.0  12300000.0
3      6  702000000.0  12900000.0
4      7  722000000.0  13700000.0
5      8  713000000.0  13900000.0
6      9  716000000.0  13300000.0

In [42]:
trace0 = go.Scatter(
    x = ventas_semana['group'],
    y = ventas_semana['ventas'],
)

data = [trace0]
layout = go.Layout(
    title='Ventas por semana',
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='scatter-mode')

#### 4. Referencia

- Plotly: Modern Visualization for the Data Era. (n.d.). Retrieved December 12, 2017, from https://plot.ly/
- Vaddeman, B. (2016). Beginning Apache Pig. https://doi.org/10.1007/978-1-4842-2337-6
- Harrison, G. (2015). Next Generation Databases. Apress. https://doi.org/10.1007/978-1-4842-1329-2